<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymeditaion2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Money Meditation"
        android:logo="@drawable/ic_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMeditaion2">
        <activity android:name=".WelcomeActivity"></activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".LessonsActivity" />
        <activity android:name=".Chapter1" />
        <activity android:name=".Chapter2" />
        <activity android:name=".Chapter3" />
        <activity android:name=".Chapter4" />
        <activity android:name=".Quiz1Activity" />
        <activity android:name=".Quiz2Activity" />
        <activity android:name=".Quiz3Activity" />
        <activity android:name=".Quiz4Activity" />
        <activity android:name=".ResultActivity1" />
    </application>

</manifest>